<!DOCTYPE html>
<html>
	<head>
		<title>Friends</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
		<p id="title">Ruff Love</p>
		<div class="container">
			<img class="navlogo" src="dog-head-silhouette.png">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/myprofile">My Profile</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/friends">Friends</a>
					</li>
				</ul>
				<ul class="navbar-nav ">
				</li><li class="nav-item">
				<a class="nav-link" href="#">Hi Khalissi!</a>
			</li><li class="nav-item">
			<a class="nav-link" href="/">Logout</a>
		</ul>
	</div>
</div>
</nav>
<div class="container">
<div class="first-row row">
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded  imgF" src="https://i.imgur.com/WYbnRvu.jpg">
		<p class="name">Cleo</p>
		<p>2 mutual friends</p>
		<button type="button" onclick="window.location.href='/cleo'" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
		<p class="name">Ralph</p>
		<p>1 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1477884213360-7e9d7dcc1e48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
		<p class="name">Oscar</p>
		<p>2 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		<p class="name">Pepper</p>
		<p>3 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1513350660342-816d92510adf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=718&q=80">
		<p class="name">Jack</p>
		<p>6 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1576457664271-c2fe30ff7365?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
		<p class="name">Scooter</p>
		<p>3 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1505623776320-7edecf5f0771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		<p class="name">Rocket</p>
		<p>0 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1528989712079-1506dd4ca2c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
		<p class="name">Thomas</p>
		<p>1 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
	<div class="col-lg-4 col-6 text-center">
		<img class="rounded imgF" src="https://images.unsplash.com/photo-1564647255651-ab796b7dc2b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80">
		<p class="name">Randy</p>
		<p>1 mutual friends</p>
		<button type="button" class="btn btn-dark">View Profile</button>
		<button type="button" class="btn btn-dark">Schedule Playdate</button>
	</div>
</div>
</div>
<div id="scroll">
<p>Ralph Image Unsplash , https://unsplash.com/photos/yihlaRCCvd4. Accessed 26 July 2020.</p>
<p>Oscar Image Unsplash, https://unsplash.com/photos/NH1d0xX6Ldk. Accessed 27 July 2020</p>
<p>Pepper Image Unsplash, https://unsplash.com/photos/FbG7KdgPSjs. Accessed 27 July 2020</p>
<p>Jack Image Unsplash, https://unsplash.com/photos/OsOQhAzcEKc. Accessed 27 July 2020</p>
<p>Scooter Image Unsplash, https://unsplash.com/photos/O2fNaqTXa_Q. Accessed 27 July 2020</p>
<p>Rocket Image Unsplash, https://unsplash.com/photos/QqRuDeIXb5I. Accessed 27 July 2020</p>
<p>Thomas Image Unsplash, https://unsplash.com/photos/iYGCX-RSpUM. Accessed 27 July 2020</p>
<p>Randy Image Unsplash, https://unsplash.com/photos/IUy7_L__kMU. Accessed 27 July 2020</p>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
