<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
	<p id="title">Ruff Love</p>
	<div class="container">
		<img class="navlogo" src="dog-head-silhouette.png">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/myprofile">My Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/friends">Friends</a>
				</li>
		</ul>
		<ul class="navbar-nav ">
					</li><li class="nav-item">
				<a class="nav-link" href="#">Hi Khalissi!</a>
		</li><li class="nav-item">
				<a class="nav-link" href="/">Logout</a>
		</ul>
	</div>
</div>
</nav>
<div class="container">
	<p id="cleo-heading">Khalissi</p>
	<hr>
	<div class= "row">
		<div class="col-md-6 float-md-left">
			<img class="rounded img-fluid cleo1" src="https://i.imgur.com/Cl0EsMx.jpg">
		</div>
		<div class="col-md-6">
			<div class="row"> 
	 			<div class="col-12 h-100 pb-3">
	 				<button class="button-list">About Me </button>
					<div class="panel">
						<ul>
							<li>White Boxer Breed</li>
							<li>21 Dog Years Old</li>
							<li>85 lbs</li>
							<li>Very Passive/non-aggresive</li>
							<li>Not territorial around food</li>
							<li>Great with kids</li>
							<li>Scared of cats</li>	
						</ul>
					</div>
					<button class="button-list">My Places </button>
                                        <div class="panel"> 
						<ul>
                                                        <li>Park: <a href="https://www.yelp.com/biz/arbor-lodge-park-portland?osq=arbor+lodge+park" target="_blank" > Abor Lodge Park</a></li>
							<li>Pet Store: <a href="https://www.yelp.com/biz/fang-pet-and-garden-supply-portland?osq=fang+feather" target="_blank" >Fang Pet and Garden Supply</a></li>
							<li>Groomer: <a href="https://www.yelp.com/biz/natures-pet-nw-portland-portland?osq=NATURES+PET" target="_blank" >Natures Pet</a></li>
							<li>Dog Friendly Bar: <a href="https://www.yelp.com/biz/mayfly-taproom-and-bottle-shop-portland?osq=mayfly" target="_blank" >Mayfly</a></li>
							<li>Vet: <a href="https://www.yelp.com/biz/peninsula-dog-and-cat-clinic-portland?osq=vet" target="_blank" >Peninsula Dog & Cat Clinic</a></li>

  		                               </ul>
                                        </div>

					<button class="button-list">Download My Calendar </button>
                                        <div class="panel"> 
                                                asdfjaslfdjsadlkf
                                        </div>


					<ul id="no-bullets">
	 					<li><a href="calendar.pdf" target="_blank" download>Download My Calendar</a></li>
	 				</ul>
	 			</div>
		</div>
	</div>		
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="rufflove2.js"></script>
</body>


</html>
